---
layout: default
permalink: /tags/
---

<hr>
<div class="wrapper">
  <a href="#Code" style="text-decoration-line: none; font-size: 18px;">#Code</a>
  &nbsp;
  <b><a href="#Java" style="text-decoration-line: none">#Java</a></b>
  &nbsp;
  <a href="#Spring" style="text-decoration-line: none; font-size: 14px;">#Spring</a>
  &nbsp;
  <b><a href="#Python" style="text-decoration-line: none">#Python</a></b>
  &nbsp;
  <a href="#Openslide" style="text-decoration-line: none; font-size: 14px;">#Openslide</a>
  &nbsp;
  <a href="#PyInstaller" style="text-decoration-line: none; font-size: 14px;">#PyInstaller</a>
  &nbsp;
  <b><a href="#SQL" style="text-decoration-line: none">#SQL</a></b>
  &nbsp;
  <a href="#MySQL" style="text-decoration-line: none; font-size: 14px;">#MySQL</a>
  &nbsp;
  <b><a href="#Frontend" style="text-decoration-line: none">#Frontend</a></b>
  &nbsp;
  <a href="#HTML" style="text-decoration-line: none; font-size: 14px;">#HTML</a>
  &nbsp;
  <a href="#CSS" style="text-decoration-line: none; font-size: 14px;">#CSS</a>
</div>

<div class="wrapper">
  <a href="#Infra" style="text-decoration-line: none; font-size: 18px;">#Infra</a>
  &nbsp;
  <b><a href="#Cloud" style="text-decoration-line: none">#Cloud</a></b>
  &nbsp;
  <a href="#AWS" style="text-decoration-line: none; font-size: 14px;">#AWS</a>
</div>

<div class="wrapper">
  <a href="#Tools" style="text-decoration-line: none; font-size: 18px;">#Tools</a>
  &nbsp;
  <b><a href="#SCM" style="text-decoration-line: none">#SCM</a></b>
  &nbsp;
  <a href="#Git" style="text-decoration-line: none; font-size: 14px;">#Git</a>
  &nbsp;
  <a href="#Svn" style="text-decoration-line: none; font-size: 14px;">#Svn</a>
  &nbsp;
  <b><a href="#Prompt" style="text-decoration-line: none">#Prompt</a></b>
  &nbsp;
  <a href="#Cmd" style="text-decoration-line: none; font-size: 14px;">#Cmd</a>
  &nbsp;
  <a href="#Conda" style="text-decoration-line: none; font-size: 14px;">#Conda</a>
  &nbsp;
  <a href="#Powershell" style="text-decoration-line: none; font-size: 14px;">#Powershell</a>
  &nbsp;
  <b><a href="#Web" style="text-decoration-line: none">#Web</a></b>
  &nbsp;
  <a href="#Edge" style="text-decoration-line: none; font-size: 14px;">#Edge</a>
  &nbsp;
  <a href="#IE" style="text-decoration-line: none; font-size: 14px;">#IE</a>
</div>

<div class="wrapper">
  <a href="#etc" style="text-decoration-line: none; font-size: 18px;">#etc</a>
  &nbsp;
  <b><a href="#Blog_Dev" style="text-decoration-line: none">#Blog_Dev</a></b>
  &nbsp;
  <b><a href="#Mac" style="text-decoration-line: none">#Mac</a></b>
</div>

<hr>

<b><a id="Code" href='/category/Code/' style="text-decoration-line: none">#Code</a></b>
<ul class="posts-list">
  {% for post in site.categories["Code"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>

<b><a id="Java" href='/category/Code/Java' style="text-decoration-line: none">#Java</a></b>
<ul class="posts-list">
  {% for post in site.categories["Java"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
<b><a id="Spring" href='/category/Code/Java/Spring' style="text-decoration-line: none">#Spring</a></b>
<ul class="posts-list">
  {% for post in site.categories["Spring"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>

<b><a id="Python" href='/category/Code/Python' style="text-decoration-line: none">#Python</a></b>
<ul class="posts-list">
  {% for post in site.categories["Python"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
<b><a id="Openslide" href='/category/Code/Python/Openslide' style="text-decoration-line: none">#Openslide</a></b>
<ul class="posts-list">
  {% for post in site.categories["Openslide"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
<b><a id="PyInstaller" href='/category/Code/Python/PyInstaller' style="text-decoration-line: none">#PyInstaller</a></b>
<ul class="posts-list">
  {% for post in site.categories["PyInstaller"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>

<b><a id="SQL" href='/category/Code/SQL' style="text-decoration-line: none">#SQL</a></b>
<ul class="posts-list">
  {% for post in site.categories["SQL"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
<b><a id="MySQL" href='/category/Code/SQL/MySQL' style="text-decoration-line: none">#MySQL</a></b>
<ul class="posts-list">
  {% for post in site.categories["MySQL"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>

<b><a id="Frontend" href='/category/Code/Frontend' style="text-decoration-line: none">#Frontend</a></b>
<ul class="posts-list">
  {% for post in site.categories["Frontend"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
<b><a id="HTML" href='/category/Code/Frontend/HTML' style="text-decoration-line: none">#HTML</a></b>
<ul class="posts-list">
  {% for post in site.categories["HTML"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
<b><a id="CSS" href='/category/Code/Frontend/CSS' style="text-decoration-line: none">#CSS</a></b>
<ul class="posts-list">
  {% for post in site.categories["CSS"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>

<hr>

<b><a id="Infra" href='/category/Infra/' style="text-decoration-line: none">#Infra</a></b>
<ul class="posts-list">
  {% for post in site.categories["Infra"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>

<b><a id="Cloud" href='/category/Infra/Cloud' style="text-decoration-line: none">#Cloud</a></b>
<ul class="posts-list">
  {% for post in site.categories["Cloud"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
<b><a id="AWS" href='/category/Infra/Cloud/AWS' style="text-decoration-line: none">#AWS</a></b>
<ul class="posts-list">
  {% for post in site.categories["AWS"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>

<hr>

<b><a id="Tools" href='/category/Tools/' style="text-decoration-line: none">#Tools</a></b>
<ul class="posts-list">
  {% for post in site.categories["Tools"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>

<b><a id="SCM" href='/category/Tools/SCM' style="text-decoration-line: none">#SCM</a></b>
<ul class="posts-list">
  {% for post in site.categories["SCM"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
<b><a id="Git" href='/category/Tools/SCM/Git' style="text-decoration-line: none">#Git</a></b>
<ul class="posts-list">
  {% for post in site.categories["Git"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
<b><a id="Svn" href='/category/Tools/SCM/Svn' style="text-decoration-line: none">#Svn</a></b>
<ul class="posts-list">
  {% for post in site.categories["Svn"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>

<b><a id="Prompt" href='/category/Tools/Prompt' style="text-decoration-line: none">#Prompt</a></b>
<ul class="posts-list">
  {% for post in site.categories["Prompt"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
<b><a id="Cmd" href='/category/Tools/Prompt/Cmd' style="text-decoration-line: none">#Cmd</a></b>
<ul class="posts-list">
  {% for post in site.categories["Cmd"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
<b><a id="Conda" href='/category/Tools/Prompt/Conda' style="text-decoration-line: none">#Conda</a></b>
<ul class="posts-list">
  {% for post in site.categories["Conda"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
<b><a id="Powershell" href='/category/Tools/Prompt/Powershell' style="text-decoration-line: none">#Powershell</a></b>
<ul class="posts-list">
  {% for post in site.categories["Powershell"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>

<b><a id="Web" href='/category/Tools/Web' style="text-decoration-line: none">#Web</a></b>
<ul class="posts-list">
  {% for post in site.categories["Web"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
<b><a id="Edge" href='/category/Tools/Web/Edge' style="text-decoration-line: none">#Edge</a></b>
<ul class="posts-list">
  {% for post in site.categories["Edge"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
<b><a id="IE" href='/category/Tools/Web/IE' style="text-decoration-line: none">#IE</a></b>
<ul class="posts-list">
  {% for post in site.categories["IE"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>

<hr>

<b><a id="etc" href='/category/etc/' style="text-decoration-line: none">#etc</a></b>
<ul class="posts-list">
  {% for post in site.categories["etc"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>

<b><a id="Blog_Dev" href='/category/etc/Blog_Dev' style="text-decoration-line: none">#Blog_Dev</a></b>
<ul class="posts-list">
  {% for post in site.categories["Blog_Dev"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>

<b><a id="Mac" href='/category/etc/Mac' style="text-decoration-line: none">#Mac</a></b>
<ul class="posts-list">
  {% for post in site.categories["Mac"] %}
	<li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <p class="post-title" style="font-size: 12px;">{{ post.title | escape }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
